<%- include('header'); -%>
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Business</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
      <!-- Icon Cards-->
      <div class="row">
        <div class="col-lg-8">
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-table"></i> Your Coupons</div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered"  width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Redemed</th>
                        <th>Remaining</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% coupons.forEach(function(coupon) { %>
                        <tr>
                          <td><%= coupon.name %></td>
                          <td><%= coupon.description %></td>
                          <td><%= coupon.redemed %></td>
                          <td><%= coupon.remaining %></td>
                        </tr>
                        <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-footer small text-muted"></div>
              </div>
            </div>
          <!-- Card Columns Example Social Feed-->
        <div class="col-lg-4">
          <!-- Example Bar Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bar-chart"></i>Coupon Inventory</div>
              <div class="card-body">
                <canvas id="myBarChart" width="100" height="50"></canvas>
              </div>
              <div class="card-footer small text-muted"></div>
            </div>
          </div>
        </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <%- include('footer'); -%>
    <script type="text/JavaScript">
    //const ejs = require('ejs');

    // Chart.js scripts
    // -- Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#292b2c';
    // -- Area Chart Example


    // -- Pie Chart Example
    var coupons = JSON.parse('<%- JSON.stringify(coupons) %>');
    const colors = ['#007bff', '#dc3545', '#ffc107', '#28a745'];

    var ctx = document.getElementById("myPieChart");
    if (ctx) {
    var myPieChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: coupons.map(coupon => coupon.name),
        datasets: [{
          data: coupons.map(coupon => coupon.redemed),
          backgroundColor: colors.slice(0, coupons.length),
        }],
      }
    });
  }

    var ctx = document.getElementById("myBarChart");
    if (ctx) {
      var myLineChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: coupons.map(coupon => coupon.name),
          datasets: [{
            label: "Remaining",
            backgroundColor: colors[0],
            borderColor: colors[0],
            data: coupons.map(coupon => coupon.remaining),
          },
          {
            label: "Redemed",
            backgroundColor: colors[1],
            borderColor: colors[1],
            data: coupons.map(coupon => coupon.redemed),
          },],
        },
        options: {
          responsive: true,
          legend: {
						position: 'top',
					},
          scales: {
            xAxes: [{
              gridLines: {
                display: false
              }
            }],
            yAxes: [{
              ticks: {
                min: 0,
              //  max: 15000,
              //  maxTicksLimit: 5
              },
              gridLines: {
                display: true
              }
            }],
          }
        }
      });
}

    </script>
