<%- include('header'); -%>
<!-- WELCOME-->
<section class="welcome p-t-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-4">Welcome Back!
                </h1>
                <hr class="line-seprate">
            </div>
        </div>
    </div>
</section>
<!-- END WELCOME-->

<!-- STATISTIC-->
<section class="statistic statistic2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--green">
                    <h2 class="number">32</h2>
                    <span class="desc">Unique Coupon Buyers</span>
                    <div class="icon">
                        <i class="zmdi zmdi-account-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--orange">
                    <h2 class="number">12</h2>
                    <span class="desc">Total Coupons Redemed</span>
                    <div class="icon">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--blue">
                    <h2 class="number">4</h2>
                    <span class="desc">this week</span>
                    <div class="icon">
                        <i class="zmdi zmdi-calendar-note"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END STATISTIC-->

<!-- STATISTIC CHART-->
<section class="statistic-chart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">statistics (graphs coming soon)</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <!-- TOP CAMPAIGN-->
                <div class="top-campaign">
                    <h3 class="title-3 m-b-30">Coupons</h3>
                    <div class="table-responsive">
                        <table class="table table-top-campaign">
                          <tbody>
                            <tr>
                              <th>Name</th>
                              <th>Description</th>
                              <th>Redemed</th>
                              <th>Remaining</th>
                              <th></th>
                            </tr>
                          </tbody>
                          <tbody>
                            <% coupons.forEach(function(coupon) { %>
                              <tr>
                                <td><%= coupon.name %></td>
                                <td><%= coupon.description %></td>
                                <td><%= coupon.redemed %></td>
                                <td><%= coupon.remaining %></td>
                                <td></td>
                              </tr>
                              <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END TOP CAMPAIGN-->
            </div>
        </div>
    </div>
</section>
<!-- END STATISTIC CHART-->

<%- include('footer'); -%>
