<%- include('header'); -%>

<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">manage coupons</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left"></div>
                    <div class="table-data__tool-right">
                      <a href="/merchant/add-coupon">
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="zmdi zmdi-plus"></i>add item</button></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>description</th>
                                <th>date</th>
                                <th>status</th>
                                <th>redemed</th>
                                <th>remaining</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          <% coupons.forEach(function(coupon) { %>
                            <tr class="tr-shadow">
                                <td><%= coupon.name %></td>
                                <td><%= coupon.description %></td>
                                <td>2018-09-27 02:12</td>
                                <td><span class="status--process">Processed</span></td>
                                <td><%= coupon.redemed %></td>
                                <td><%= coupon.remaining %></td>
                                <td>
                                    <div class="table-data-feature">
                                      <form method="POST" action="/merchant/edit-coupon/<%= coupon._id %>">

                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                      </form>
                                      <form method="POST" action="/merchant/delete-coupon/<%= coupon._id %>">
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                      </form>
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>

                          <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->
<%- include('footer'); -%>
